@inject Microsoft.AspNetCore.Identity.UserManager<ExamStation.Areas.Identity.Data.ExamStationUser> UserManager
@model ExamStation.Models.Student

@{
    ViewData["Title"] = "Create";
    string userName = ViewBag.UserName;
}

<h2>Student Profile</h2>
<hr />
<div id="printablediv">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/ExamStation/assets/global/img/ProImage.png">
                    <h3 class="profile-username text-center">@Html.DisplayFor(model => model.StudentName)</h3>
                    <p class="text-muted text-center">Student</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item" style="background-color: #FFF">
                            <b>Register NO</b> <a class="pull-right">@Html.DisplayFor(model => model.RegisterNo)</a>
                        </li>
                        <li class="list-group-item" style="background-color: #FFF">
                            <b>Roll</b> <a class="pull-right">@Html.DisplayFor(model => model.Roll)</a>
                        </li>
                        <li class="list-group-item" style="background-color: #FFF">
                            <b>Class</b> <a class="pull-right">@Html.DisplayFor(model => model.Class)</a>
                        </li>
                        <li class="list-group-item" style="background-color: #FFF">
                            <b>Section</b> <a class="pull-right">@Html.DisplayFor(model => model.Section)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
                </ul>

                <div class="tab-content">
                    <div class="active tab-pane" id="profile">
                        <div class="panel-body profile-view-dis">
                            <div class="row">
                                <div class="profile-view-tab">
                                    <p><span>Group </span>: @Html.DisplayFor(model => model.Group)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Optional Subject </span>: @Html.DisplayFor(model => model.OptionalSubject)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p>
                                        <span>Date of Birth </span>:
                                        @Html.DisplayFor(model => model.DateOfBirth)
                                    </p>
                                </div>
                                <div class="profile-view-tab">
                                    <p>
                                        <span>Gender </span>:
                                        @Html.DisplayFor(model => model.Gender)
                                    </p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Blood Group </span>: @Html.DisplayFor(model => model.BloodGroup)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Religion </span>: @Html.DisplayFor(model => model.Religion)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Email </span>: @Html.DisplayFor(model => model.Email)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Phone </span>: @Html.DisplayFor(model => model.Phone)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>State </span>: @Html.DisplayFor(model => model.State)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p>
                                        <span>Country </span>:
                                        @Html.DisplayFor(model => model.Country)
                                    </p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Remarks </span>: @Html.DisplayFor(model => model.Remarks)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Username </span>: @userName</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Extra Curricular Activities </span>: @Html.DisplayFor(model => model.ExtraActivities)</p>
                                </div>
                                <div class="profile-view-tab">
                                    <p><span>Address </span>: @Html.DisplayFor(model => model.Address)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
