@model IEnumerable<ExamStation.Models.QuestionBank>

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DifficultyLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Explanation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Upload)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hints)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DifficultyLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Explanation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Upload)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hints)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
