@model ExamStation.Models.OnlineExam

@{
    ViewData["Title"] = "Create";
}

<h2>Add Online Exam</h2>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="ExamTitle" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="ExamTitle" class="form-control" />
            <span asp-validation-for="ExamTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Description" class="form-control" />*@
            @Html.TextAreaFor(model => model.Description, new { @id = "FullDescription", @class = "form-control", @rows = "5" })
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Class" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Class" class="form-control" />*@
            @Html.DropDownListFor(model => model.Class, new SelectList(ViewBag.ClassList, "Id", "ClassName"), "Select Class", new { @class = "form-control" })
            <span asp-validation-for="Class" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Section" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Section" class="form-control" />*@
            @Html.DropDownListFor(model => model.Section, new SelectList(ViewBag.SectionList, "Id", "SectionName"), "Select Section", new { @class = "form-control" })
            <span asp-validation-for="Section" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="StudentGroup" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="StudentGroup" class="form-control" />*@
            @Html.DropDownListFor(model => model.StudentGroup, new SelectList(ViewBag.GroupList, "Id", "Title"), "Select Group", new { @class = "form-control" })
            <span asp-validation-for="StudentGroup" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Subject" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Subject" class="form-control" />*@
            @Html.DropDownListFor(model => model.Subject, new SelectList(ViewBag.SubjectList, "Id", "SubjectName"), "Select Subject", new { @class = "form-control" })
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Instruction" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Instruction" class="form-control" />*@
            @Html.DropDownListFor(model => model.Instruction, new SelectList(ViewBag.InstructionList, "Id", "Title"), "Select Instruction", new { @class = "form-control" })
            <span asp-validation-for="Instruction" class="text-danger"></span>
        </div>
        </div>
        <div class="form-group row">
            <label asp-for="ExamStatus" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                @*<input asp-for="ExamStatus" class="form-control" />*@
                <select name="ExamStatus" id="ExamStatus" class="form-control">
                    <option value="PleaseSelect">Please Select</option>
                    <option value="OneTime">One Time</option>
                    <option value="Multiple">Multiple Time</option>
                </select>
                <span asp-validation-for="ExamStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ExamType" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                @*<input asp-for="ExamType" class="form-control" />*@
                <select name="ExamType" id="ExamType" class="form-control">
                    <option value="PleaseSelect">Please Select</option>
                    <option value="OnlyDuration">Only Duration</option>
                    <option value="DateAndDuration">Date And Duration</option>
                    <option value="DateTimeAndDuration">Date Time And Duration</option>
                </select>
                <span asp-validation-for="ExamType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Duration" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="MarkType" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                @*<input asp-for="MarkType" class="form-control" />*@
                <select name="MarkType" id="MarkType" class="form-control">
                    <option value="PleaseSelect">Please Select</option>
                    <option value="Percentage">Percentage</option>
                    <option value="Fixed">Fixed</option>
                </select>
                <span asp-validation-for="MarkType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PassValue" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="PassValue" class="form-control" />
                <span asp-validation-for="PassValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PaymentStatus" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                @*<input asp-for="PaymentStatus" class="form-control" />*@
                <select name="PaymentStatus" id="PaymentStatus" class="form-control">
                    <option value="PleaseSelect">Please Select</option>
                    <option value="Free">Free</option>
                    <option value="Paid">Paid</option>
                </select>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
        </div><div class="form-group row">
            <label asp-for="Cost" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Published" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                @*<input asp-for="Published" class="form-control" />*@
                <select name="Published" id="Published" class="form-control">
                    <option value="PleaseSelect">Please Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Online Exam" class="btn btn-default" />
        </div>
</form>
