@model ExamStation.Models.QuestionBank

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Upload)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Upload)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hints)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
